* {
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #3a3a3a;
    margin: 0;
}

body::after {
    content: "";
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/monks.jpg');
    background-position: center;
}

h1 {
    color: #FFF;
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    text-align: center;
}

.wrapper {
    position: relative;
    width: 500px;
    height: 500px;
}

.wrapper .start {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-weight: bold;
    overflow: hidden;
    transition: 300ms width, 300ms height;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #FFF;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 15px #000;
}

.wrapper .start.hide {
    width: 0;
    height: 0;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        width: 100vw;
        height: 100vw;
    }
}